<table>
    <thead>
        <tr>
            <th>Origin</th>
            <th>Airline</th>
            <th>Flight</th>
            <th>Sched</th>
            <th>Revised</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.0 }}</td>
                <td>{{ flight.1 }}</td>
                <td>{{ flight.2 }}</td>
                <td>{{ flight.3 }}</td>
                <td>{{ flight.4 }}</td>
                <td>{{ flight.5 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>