<h2 class="text-center text-3xl">Departures</h2>
<table class="table-auto border-collapse border text-md border-gray-600">
    <thead>
        <tr class="border-b border-gray-600 text-left">
            <th class="px-2 py-1">Destination</th>
            <th class="px-2 py-1">Airline</th>
            <th class="px-2 py-1">Flight</th>
            <th class="px-2 py-1">Sched</th>
            <th class="px-2 py-1">Revised</th>
            <th class="px-2 py-1">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in departures %}
            <tr class="border-b border-gray-400">
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.0 }}</td>
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.1 }}</td>
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.2 }}</td>
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.3 }}</td>
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.4 }}</td>
                <td class="px-2 py-1 whitespace-nowrap">{{ flight.5 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>